POSTGRES_DB=tenpo_calculator
POSTGRES_USER=tenpo_user
POSTGRES_PASSWORD=TenpoCh4ll3ng3!

DATABASE_URL=jdbc:postgresql://postgres:5432/tenpo_calculator
DATABASE_USER=tenpo_user
DATABASE_PASSWORD=TenpoCh4ll3ng3!
DB_POOL_MAX_SIZE=10
DB_POOL_MIN_IDLE=3
DB_CONNECTION_TIMEOUT=30000


PERCENTAGE_PORT=8081
PERCENTAGE_MIN=5.00
PERCENTAGE_MAX=15.00
PERCENTAGE_SCALE=2

CACHE_EXPIRATION=30m
CACHE_MAX_SIZE=100

PERCENTAGE_SERVICE_URL=http://percentage-service:8081
PERCENTAGE_TIMEOUT=5s
PERCENTAGE_MAX_RETRIES=3

LOG_LEVEL_ROOT=INFO
LOG_LEVEL_APP=INFO
LOG_LEVEL_SPRING_WEB=INFO
LOG_LEVEL_HIBERNATE_SQL=ERROR
LOG_LEVEL_REACTOR=INFO
